<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitherejoe.vineyard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".VineyardApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ConnectActivity"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PlaybackActivity"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PostGridActivity"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.GuidedStepActivity"
            android:theme="@style/Theme.Example.Leanback.GuidedStep" />

        <receiver
            android:name=".data.recommendations.RecommendationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".data.recommendations.UpdateRecommendationsService"
            android:enabled="true" />

        <!-- Live Channels Integration -->
        <service
            android:name=".livechannels.VineInputProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_TV_INPUT">
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/channel_surfer_tv_input" />
        </service>
        <meta-data
            android:name="TvInputService"
            android:value="com.hitherejoe.vineyard.livechannels.VineInputProvider" />
        <activity android:name=".livechannels.VineTvSetup"
            android:exported="true"/>
    </application>

</manifest>
